@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/login-page/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/login-page/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/login-page/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="~/login-page/css/style.css">
</head>
 <body>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account with WOMB - help provide resources and valuable information to those who need it.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.title"></label>
@*                <input asp-for="Input.title" class="form-control" />
*@<select asp-for="Input.title">
  <option value="Mr">Mr</option>
  <option value="Miss">Miss</option>
  <option value="Mrs">Mrs</option>
  <option value="Dr">Dr</option>
</select>

                <span asp-validation-for="Input.title" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="column">
                    <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <br />
             <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <div class="row">
                <div class="column">
                    <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <div class="form-group">
                <label asp-for="Input.gender"></label>
               @*<input asp-for="Input.gender" class="form-control" />*@
               <select asp-for="Input.gender">
  <option value="Woman">Woman</option>
  <option value="Man">Man</option>
  <option value="Transgender">Transgender</option>
  <option value="Unspecified">Unspecified</option>
</select>
                <span asp-validation-for="Input.gender" class="text-danger"></span>
                </div>
            </div>
            </div>
            </div>
            
            @* <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <div class="form-group">
                <label asp-for="Input.gender"></label>
               <input asp-for="Input.gender" class="form-control" />
               <select asp-for="Input.gender">
  <option value="Woman">Woman</option>
  <option value="Man">Man</option>
  <option value="Transgender">Transgender</option>
  <option value="Unspecified">Unspecified</option>
</select>
                <span asp-validation-for="Input.gender" class="text-danger"></span>
            </div>*@
             <div class="form-group">
                <label asp-for="Input.Occupation"></label>
                <input asp-for="Input.Occupation" class="form-control" />
                <span asp-validation-for="Input.Occupation" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Input.DOB"></label>
                <input type="date" asp-for="Input.DOB" class="form-control" />
                <span asp-validation-for="Input.DOB" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="column">
                    <div class="form-group">
                <label asp-for="Input.ConsultationFee"></label>
                <input asp-for="Input.ConsultationFee" class="form-control" />
                <span asp-validation-for="Input.ConsultationFee" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Input.HPCSAnumber"></label>
                <input asp-for="Input.HPCSAnumber" class="form-control" />
                <span asp-validation-for="Input.HPCSAnumber" class="text-danger"></span>
            </div>
                </div>
            </div>
             <div class="form-group">
                <label asp-for="Input.Bio"></label>
                <input asp-for="Input.Bio" class="form-control" />
                <span asp-validation-for="Input.Bio" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Input.URL"></label>
                <input asp-for="Input.URL" class="form-control" />
                <span asp-validation-for="Input.URL" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="column">
                    <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

                </div>
<div class="form-group"> 
                <button type="submit" class="btn btn-primary">Register</button>

            </div>
            </div>
            
            
           
        </form>
    </div>
    
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
